---
import Layout from "../layouts/Layout.astro";
import DesktopLogo from "../components/DesktopLogo.astro";
import MobileLogoTop from "../components/MobileLogoTop.astro";
import MobileLogoBottom from "../components/MobileLogoBottom.astro";

const data = [
  "projet1",
  "projet2",
  "projet3",
  "projet4",
  "projet5",
  "projet6",
  "projet7",
  "projet8",
  "projet9",
  "projet10",
  "projet11",
  "projet12",
];
---

<Layout>
  <div class="md:hidden" slot="before-content">
    <MobileLogoTop />
  </div>
  <div
    class="h-full flex-col items-end hidden md:flex"
    x-data="{showed: 'none'}"
  >
    <div class="w-full grow">
      {
        data.map((index) => (
          <div
            class="h-full"
            style="border: 1px solid green;"
            x-show={`showed === '${index}'`}
            x-cloak
          >
            Zone {index}
          </div>
        ))
      }
    </div>
    <div class="flex relative w-full">
      <DesktopLogo />
      <div class="flex h-full absolute bottom-0 left-0 right-0">
        {
          data.map((index) => (
            <div
              class="grow h-full"
              style="border: 1px solid red;"
              x-on:mouseenter={`showed = '${index}'`}
              x-on:mouseleave={`showed = 'none'`}
            />
          ))
        }
      </div>
    </div>
  </div>
  <div class="md:hidden" slot="after-content">
    <MobileLogoBottom />
  </div>
</Layout>
