---
import "../styles/global.css";
import { Image } from "astro:assets";

import DarkMode from "../components/DarkMode.astro";
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-black dark:text-white antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bureau Duplex</title>
  </head>
  <body>
    <div class="h-screen flex flex-col p-3">
      <header>
        <ul class="flex justify-between uppercase text-sm mb-3">
          <li>Bureau Duplex</li>
          <li>Index</li>
          <li>About</li>
          <DarkMode />
        </ul>
      </header>
      <slot name="before-content" />
      <div class="grow"><slot /></div>
      <slot name="after-content" />
    </div>
  </body>
</html>
