---
import "../styles/global.css";

import { getCollection } from "astro:content";
const notionContents = await getCollection("notionContent");

console.log(notionContents);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    {
      notionContents.map((notionContent) => (
        <p>{notionContent.data.properties.Titre.rich_text[0].plain_text}</p>
      ))
    }
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
