---
import "../styles/global.css";

import DarkMode from "../components/DarkMode.astro";
import { Image } from "astro:assets";
import catImage from "../assets/cat1.avif";
import cat2Image from "../assets/cat2.avif";

const data = [
  "projet1",
  "projet2",
  "projet3",
  "projet4",
  "projet5",
  "projet6",
  "projet7",
  "projet8",
  "projet9",
  "projet10",
  "projet11",
  "projet12",
];
---

<!doctype html>
<html lang="en" class="bg-white dark:bg-black dark:text-white antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bureau Duplex</title>
  </head>
  <body>
    <div
      class="h-screen flex flex-col p-3"
      x-data="{duplex: false, index: false, about: false}"
    >
      <header>
        <ul class="flex items-center justify-between uppercase text-sm mb-3">
          <li>
            <button
              x-on:click="duplex = !duplex; about = false; index = false"
              class="uppercase cursor-pointer">Bureau Duplex</button
            >
          </li>
          <li>
            <button
              x-on:click="index = !index; about = false; duplex = false"
              class="uppercase cursor-pointer">Index</button
            >
          </li>
          <li>
            <button
              x-on:click="about = !about; index = false; duplex = false"
              class="uppercase cursor-pointer">About</button
            >
          </li>
          <DarkMode />
        </ul>
      </header>
      <slot name="before-content" />
      <div class="grow relative">
        <ul
          class="w-full absolute top-16 md:top-32 right-0 left-0"
          x-show="index"
          x-cloak
        >
          {
            data.map((_, index) => (
              <li x-data="{image: false}">
                <a
                  class="flex text-lg md:text-sm relative z-20"
                  href="#"
                  @mouseover="image = true"
                  @mouseout="image = false"
                >
                  <span class="grow">Audemars Piguet</span>
                  <span class="grow hidden md:inline">
                    Mémorendum Volontriat
                  </span>
                  <span class="grow hidden md:inline">
                    DA, identité visuelle, Illustration, design editorial
                  </span>
                  <span>2022</span>
                </a>
                <div
                  class="absolute -top-16 z-10"
                  x-show="image"
                  x-cloak
                  x-transition:enter="transition delay-100 duration-300"
                  x-transition:enter-start="opacity-0 transform -translate-x-10"
                  x-transition:enter-end="opacity-100 transform translate-x-0"
                  x-transition:leave="transition duration-300"
                  x-transition:leave-start="opacity-100 transform translate-x-0"
                  x-transition:leave-end="opacity-0 transform translate-x-10"
                >
                  <Image
                    class="max-w-1/2 mx-auto"
                    src={index % 2 ? catImage : cat2Image}
                    alt="Test"
                  />
                </div>
              </li>
            ))
          }
        </ul>
        <div
          class="w-full absolute top-16 md:top-32 right-0 left-0"
          x-show="about"
          x-cloak
        >
          <p class="text-lg md:text-sm">
            Parc du Loup 1a <br />
            1018 Lausanne <br />
            CH – Switzetland <br />
            info@bureau-duplex.ch <br />
            +41 78 665 01 50
          </p>
        </div>
        <div
          class="w-full absolute top-16 md:top-32 right-0 left-0"
          x-show="duplex"
          x-cloak
        >
          <p class="text-lg md:text-sm max-w-[640px]">
            Fondé en 2013, BUREAUDUPLEX est un studio de création alliant
            direction artistique, design graphique, deisgn éditorial,
            illustration et motion design. Cette approche pluridisciplinaire lui
            permet de concevoir des outils narratifs adaptés à chaque projet,
            dans les champs culturels et commerciaux.
          </p>
        </div>
        <slot />
      </div>
      <slot name="after-content" />
    </div>
  </body>
</html>
