---
import "../styles/global.css";
import { Image } from "astro:assets";
import logoTop from "../assets/logo_mobile_1.svg";
import logoBottom from "../assets/logo_mobile_2.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bureau Duplex</title>
  </head>
  <body>
    <div class="h-screen flex flex-col p-3">
      <header>
        <ul class="flex justify-between uppercase text-sm mb-3">
          <li>Bureau Duplex</li>
          <li>Index</li>
          <li>About</li>
        </ul>
      </header>
      <Image class="w-full md:hidden" src={logoTop} alt="Bureau Duplex" />
      <div class="grow"><slot /></div>
      <Image class="w-full md:hidden" src={logoBottom} alt="Bureau Duplex" />
    </div>
  </body>
</html>
