---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bureau Duplex</title>
  </head>
  <body>
    <div class="h-screen flex flex-col p-3">
      <header>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, placeat
        atque. Obcaecati quis cumque sapiente ad deserunt maxime dolores beatae
        consequuntur, id laboriosam eligendi similique expedita est tempora
        molestias maiores.
      </header>
      <div class="grow"><slot /></div>
    </div>
  </body>
</html>
